<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Bluetech Consulting</title>
</head>
<body>
  <h2>Dear {{firstName}} {{lastName}},</h2>
  <p>We acknowledge the receipt of your feedback. We aim to respond to you promptly and provide comprehensive information that addresses your questions, concerns, and or enquiries within the next 24 hours.
Thank you for considering Bluetech. We value your interest and look forward to the possibility of further discussing your needs and how we might assist you. 
On behalf of Bluetech
  </p>
</body>
</html>